SD4/Assignment/
SD4/Lectures/
SD4/bootstrap/
SD4/image_gallery/image_gallery.zip
SD4/w3school_css( free cross platform modern)/
SD1/Igraphics/
SD1/igraphicspic/
SD2/A Java Based Simple Chat Application.docx
SD2/Chapter 2 _Jan Graba Book.pdf
SD2/Fxlab4/
SD2/MultiUserChat-Ep5/
SD2/PasswordReset.java
SD2/Report_By(16.01.04.017_16.01.04.016_16.01.04.09)(ChitChat).docx
SD2/SDLab2/
SD2/SET_B/
SD2/Set_D/
SD2/japps-project/
SD2/javaLAB3/
SD2/more_threads.pdf
SD3/1.1A.PNG
SD3/1.1B.PNG
SD3/148705-essential-collection/
SD3/16.01.04.017.zip
SD3/16.01.04.017/
SD3/2.2A.PNG
SD3/2.2B.PNG
SD3/2.2C.PNG
SD3/AppIconResizer_201802081529_c812cdca58191c7f380663303c47cfe1/
SD3/DatabaseTest/
SD3/Icons/
SD3/MyApplication6.rar
SD3/MyApplication6/
SD3/ProjectFinalReport.docx
SD3/ProjectFinalReport.pdf
SD3/ProjectReport.docx
SD3/Wallpapers-For-Galaxy-S4-Abstract-1154.jpg
SD3/account_circle_white_192x192.png
SD3/app-debug.apk
SD3/best-android-wallpaper-01.jpg
SD3/black-android.jpg
SD3/blood_splash-wallpaper-2560x1440.jpg
SD3/check_circle_white_192x192.png
SD3/fonts/
SD3/icon.png
SD3/icons8-shutdown-96.png
SD3/logo.png
SD3/logout.png
SD3/photo/
SD3/signup-v2.jpg
SD3/user-icon.png
SD3/welcome_Screan.jpg
SD3/welcome_screen_appname.png